<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'link.html' %}
    <title>Вход</title>
</head>
<body>
    <header>
        {% include 'nav.html' %}
    </header>

    <div class="container">
        <div class="log-reg-panel">
            <div class="log-reg-right">
                <div class="logo-b" style="height: 30%;"></div>
            </div>
            <div class="log-reg-left">
                <h1 class="log-reg-title">Вход</h1>
                <form method="POST" action="{{ url_for('login') }}">
                    <div class="log-reg-input">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input class="text-input" type="text" name="username" id="username" placeholder="Логин">
                        <input class="text-input" type="password" name="password" id="password" placeholder="Пароль">
                        <input class="log-reg-button" type="submit" value="Войти">
                    </div>
                </form>
            <a href="register" class="log-reg-switch">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</body>
</html>