<div class="post">
    <div class="post-info">
        <div class="post-profile" style="background: url({{ post.author_avatar }}) #ffffff00 0% / cover no-repeat;"></div>
        <div class="info-text">
            <div class="post-name">
                <p class="nickname">{{ post.author_name }}</p>
            </div>
            <div class="post-time">{{ post.date.strftime('%Y-%m-%d %H:%M:%S') }} </div>
        </div>
    </div>
    <div class="post-caption">
        <div class="post-text">{{ post.caption }}</div>
    </div>
    <div class="post-stats">
        <button class="post-comment">{{post.comments_count}}</button>
        <button class="post-like">{{post.likes_count}}</button>
    </div>
</div>